{% extends "TmsRecipeBundle::layout.html.twig" %}

{% block title %}Détail des recettes{% endblock %}
{% block body -%}
    <h1>Détail des recettes</h1>

    <a href="{{ path('recipe') }}" class="btn btn-default">
        Retour à la liste
    </a>

    {% if recipe.state == constant('Tms\\Bundle\\RecipeBundle\\Entity\\Recipe::STATE_PENDING') %}
        <div class="alert alert-info" role="alert">
            <strong>ATTENTION</strong> -- La recette est en cours de traitement.<br />
            Dernière modification :
            <strong>
                Le {{ recipe.updatedAt|date('d-m-Y') }}
                à {{ recipe.updatedAt|date('H:m') }}
            </strong>
        </div>
    {% endif %}

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>#{{ recipe.id }}</th>
                <td>
                    <span class="label label-{{ recipe.state }}">
                        {{ recipe.state }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>Nom de la recette</th>
                <td>{{ recipe.name }}</td>
            </tr>
            {% if recipe.media %}
                <tr>
                    <th>Image</th>
                    <td><img src="{{ recipe.media.publicUri }}" /></td>
                </tr>
            {% endif %}
            <tr>
                <th>Type de plat</th>
                <td>{{ recipe.type }}</td>
            </tr>
            <tr>
                <th>Nombre de personnes</th>
                <td>{{ recipe.people }}</td>
            </tr>
            <tr>
                <th>Temps de cuisson</th>
                <td>{{ recipe.cookingTime }}</td>
            </tr>
            <tr>
                <th>Temps de préparation</th>
                <td>{{ recipe.preparationTime }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ recipe.author }}</td>
            </tr>
            <tr>
                <th>Ingrédients</th>
                <td>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    {% if recipe.state != constant('Tms\\Bundle\\RecipeBundle\\Entity\\Recipe::STATE_REFUSED') %}
        <div class="col-sm-2">{{ form(refuse_form) }}</div>
    {% endif %}
    <div class="col-sm-2">{{ form(edit_form) }}</div>
    {% if recipe.state != constant('Tms\\Bundle\\RecipeBundle\\Entity\\Recipe::STATE_VALIDATED') %}
        <div class="col-sm-2">{{ form(validate_form) }}</div>
    {% endif %}

{% endblock %}
